version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: fastapi_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123
    ports:
      - "3307:3306"   # Host 3307 maps to container 3306
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  fastapi:
    build: .
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql      # must be service name
      DB_PORT: 3307      # internal container port
      DB_USER: admin
      DB_PASSWORD: admin123
      DB_NAME: fastapi_db

volumes:
  db_data:



# version: "3.9"

# services:
#   db:
#     image: mysql:8
#     container_name: mysql-db
#     environment:
#       MYSQL_ROOT_PASSWORD: root
#       MYSQL_DATABASE: fastapidb
#     ports:
#       - "3307:3306"
#     volumes:
#       - mysql_data:/var/lib/mysql

#   api:
#     build: .
#     container_name: fastapi-app
#     ports:
#       - "8000:8000"
#     depends_on:
#       - db
#     env_file: .env
#     restart: always

# volumes:
#   mysql_data:
